%h1 Conversations
%h2 Inbox
%ul= render current_user.mailbox.inbox
%h2 Sentbox
%ul= render current_user.mailbox.sentbox
%h2 Trash
%ul= render current_user.mailbox.trash

= link_to 'Start Conversation', :new_conversation
