/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button



 */



 body
{
background-image: linear-gradient(to top, white, #C0C0C0, #B0C4DE);
}




.dropdown-menu
{
background-image: linear-gradient(to top, white, #C0C0C0, #B0C4DE);
}

 .comments-hidden {
  display: none;
}

 .posts-hidden {
  display: none;
}

.land {

  border-style: solid;
    border-width: 1px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    border-radius: 5px;



}
/*
.top-post {

  border-style: solid;
    /*border-width: 1px;*/
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
}*/

.brand {
    background-color: #000000;
    color: white;
}

.navbar {
    background-color: #000000;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

#accordion {
    border-style: inset;
    border-width: 5px;
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
}

.out-form {
    border-style: inset;
    background-color: #000000;
    color: white;
    border-width: 5px;
}

.pa-test {
    margin:50px 0px; padding:0px;
    text-align:center;
    }

.chg-size {
    width: 25px;
    height: 25px;
    }

.chg-size2 {
    width: 50px;
    height: 50px;
    }

.chg-size3 {
    width: 150px;
    height: 150px;
    }

.chg-size4 {
    width: 125px;
    height: 125px;
    }

.chg-size6 {
    width: 40px;
    height: 40px;
    }

.chg-size7 {
    width: 500px;
    height: 500px;
    }

.chg-size-font p{
    font-size:8px;
}

.chg-size-font2 p{
    font-size:10px;
}

.signcol h5{
    color: #FFFFFE;
}

.signcol h3{
    color: #FFFFFE;
}

.signcol h2{
    color: #FFFFFE;
}

.devise-page {
    background: url('http://blog.karineardault.com/.a/6a00d8354c574769e2017c317beb9b970b-pi') no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

